@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Alegreya Sans', sans-serif;
}

::-webkit-scrollbar {
  width: 15px;
  background-color: none;
  border: 2px solid black;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 10px;
  max-height: 200px;
}

.input-ph::placeholder {
  transition: opacity 0.2s ease;
}

.input-ph:focus::placeholder {
  opacity: 0;
}

.otro-estilo-mas-elegante-que-el-de-arriba{
  /* Estilos personalizados para el scrollbar */
  .scrollbar-custom::-webkit-scrollbar {
    width: 10px;
  }

  .scrollbar-custom::-webkit-scrollbar-track {
    background: #f0fafa; /* fondo suave */
    border-radius: 8px;
  }

  .scrollbar-custom::-webkit-scrollbar-thumb {
    background-color: #1db4c4; /* color del pulgar */
    border-radius: 8px;
    border: 2px solid #f0fafa; /* borde que lo separa del fondo */
  }

  .scrollbar-custom::-webkit-scrollbar-thumb:hover {
    background-color: #168d9b; /* color al hacer hover */
  }
}

